/deep/ .basic-page h1 {
	text-align: center;
	margin-bottom: 2rem;
}

/deep/ .basic-page * {
	user-select: text;
}

:host {
	user-select: auto;
	width: 100%;
	padding: 2rem;
}

.basic-page {
	max-width: 50rem;
	width: 100%;
	margin: 0 auto 2rem auto;
	box-shadow: 0 0 2rem -0.5rem rgba(0, 0, 0, 0.25);
	padding: 2rem;
	box-sizing: border-box;
	background-color: white;
}

@media all and (max-width: 62rem) {
	:host {
		padding: 0;
	}
	.basic-page {
		box-shadow: none;
		max-width: none;
	}
}
