<div class="basic-page mat-typography">
    <h1>About Desk Engine</h1>
    
    <mat-tab-group>
        <mat-tab label="About Desk Engine">
            ABOUT
        </mat-tab>
        <mat-tab label="The Authors">
            <div class="zm-row">
                <div class="zm-col-sm-6">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Danny Coulombe</mat-card-title>
                            <mat-card-subtitle>Front-End Developer</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="assets/danny-coulombe.jpeg" alt="Danny Coulombe">
                        <mat-card-content>
                        <p>
                            Danny Coulombe brings more than 10 years of experience in web, mobile and application development. He developed the Zemit Desk Engine and branding of Zemit.
                        </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <a mat-button href="https://www.linkedin.com/in/dannycoulombe/" target="_blank">LinkedIn</a>
                            <a mat-button href="https://www.dannycoulombe.com" target="_blank">Website</a>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="zm-col-sm-6 zm-mt-3 zm-mt-sm-0">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Julien Turbide</mat-card-title>
                            <mat-card-subtitle>Back-End Developer</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="assets/julien-turbide.jpeg" alt="Julien Turbide">
                        <mat-card-content>
                        <p>
                            Managing the back-end, the cloud-maestro Julien Turbide brings another 10 years of experience in web and interactive development. He is the father of Zemit CMS and makes sure that everything is scalable.
                        </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <a mat-button href="https://www.linkedin.com/in/jturbide/" target="_blank">LinkedIn</a>
                            <a mat-button href="https://www.julienturbide.com" target="_blank">Website</a>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Privacy Policy">
            <p>Last Updated on 20 September 2018 </p>
            <h2>Who We Are </h2>
            <p>Desk Engine, which trades under the name Desk Engine (together with its agents, representatives, consultants, employees, officers, and directors — collectively, “Desk Engine”, “we”, or “us”) provides web hosting, domain name, website creation, website
                security, and online marketing services. We are a Canadian corporation based in Montreal, Canada. </p>
            <h2>How This Policy Applies </h2>
            <p>This Privacy Policy describes the information we collect from you, how we use that information, and our legal basis for doing so. It also covers whether and how that information may be shared and your rights and choices regarding the information you
                provide to us. </p>
            <h2>Your Consent </h2>
            <p><strong>By using our website, products, or services, you’re acknowledging that you have agreed to our <a href="https://www.Desk Engine.com/en/legal/terms-of-service" target="_blank">Terms of Service</a> and <a href="https://www.Desk Engine.com/en/legal/acceptable-use-policy" target="_blank">Acceptable Use Policy</a>, that you have read and understood this Privacy Policy, and that you consent to your information being used for the purposes and for the manner described in this Privacy Policy.</strong>        For children under the age of 16 to order or use our products or services, a parent or legal guardian must provide the above-mentioned consents on their behalf. </p>
            <p>You may withdraw your consent to our management of your personal information, at any time, subject to legal and contractual restrictions, upon reasonable notice. However, such a withdrawal may reduce our ability to provide you with certain products
                and services. For more information on the implications of withdrawing your consent or to notify us of the withdrawal of your consent, please contact our support team. </p>
            <h2>What We Collect and Receive </h2>
            <p>For you to use our website, products, and services, we need to collect and process certain information. Depending on your use of our website, products, and services, this may include the following types of information. </p>
            <h3>General personal information </h3>
            <ul>
                <li>Information you provide by completing forms on our website — your name, company name, email and mailing addresses, telephone number, login, and password details. We may ask you for this information if you register for an account on our website,
                    order our products or services, subscribe to our newsletters, login to our online “Client Area”, upload or submit content through our website (including the “Client Area”), or if you contact us.</li>
                <li>Information you provide for identity verification purposes when contacting us or for the purposes of processing your payment. In some cases, our payment processor will request that you provide additional personal information to confirm your identity
                    before payment can be processed.</li>
                <li>For certain domain name products and services, we may request your residency status or whether you are a member of certain organizations. This information is required by certain domain name registries (e.g., Canadian Internet Registration Authority)
                    for the purposes of registering your chosen domain name(s) with the registry.</li>
            </ul>
            <h3>Payment information </h3>
            <ul>
                <li>Details of any transactions you make through our website, products, or services. As part of a transaction, we may collect and store payment information, including credit card or bank account details (as applicable), expiration date, and country,
                    which we require for payment processing, tax, and regulatory purposes.</li>
                <li>We partner with other companies (such as PayPal) for payment processing, and the payment information you submit is collected and used by them in accordance with their privacy policies.</li>
            </ul>
            <h3>Statistical and cookie information </h3>
            <ul>
                <li>Statistical information about the way visitors and users interact with our website, products, and services, in the form of website traffic analytics (i.e., Google Analytics). The analytics engine passively gathers visitor and user information,
                    including your IP address; the type of device, operating system, and browser you use; and your activity on our website. This information helps us to improve our website, products, and services, allowing us to provide you with a more friendly
                    and secure user experience. You can opt out of having your data used by Google Analytics <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">here</a>.</li>
                <li>Cookies are small data files that are issued to your device when you visit a website and that store information about your use of the website. URL query strings are small amounts of data transmitted as part of a URL (e.g., website address) when
                    you click on a hyperlink or submit a form in an internet browser.</li>
                <li>We use cookies and other technologies (e.g., URL query strings) to help recognize you as a repeat visitor, to process items in your shopping cart, to recognize affiliates, to save your preferences for future visits to our website, and to compile
                    aggregate statistical data about website traffic and interactions (see above), allowing us to provide you with a more friendly and secure user experience.</li>
                <li>Cookies are stored in your device memory either over the long-term (e.g., to retain your website preferences from visit-to-visit) or as a temporary file which will be cleared from your device memory when you close your internet browser. You may
                    choose to turn off the use of cookies via your internet browser preferences; however, our website, products, and services may no longer function properly if you choose to turn off the use of cookies. You may still place orders over the telephone
                    or by otherwise contacting Customer Service.</li>
            </ul>
            <h3>Communication history information </h3>
            <ul>
                <li>Communications you send to us (e.g., technical support tickets, questions, or feedback).</li>
            </ul>
            <h3>Sensitive personal information </h3>
            <ul>
                <li>We ask that you do not send or disclose to us any sensitive personal information, including social insurance or social security numbers, information related to racial or ethnic origin, political opinions, religion or other beliefs, health, criminal
                    background, or trade union membership.</li>
            </ul>
            <h3>User content </h3>
            <ul>
                <li>User content uploaded, collected, stored, used, transferred, or disclosed in connection with our website, products, or services. Such content includes website and email content in connection with our web hosting, website creation, website security,
                    email solutions and marketing products and services.</li>
            </ul>
            <h2>How We Use This Information </h2>
            <p>We use the information we collect from you for the following purposes: </p>
            <ul>
                <li>To enable us to provide you with our website, products, and services.</li>
                <li>To process transactions in connection with our website, products, and services. After a transaction, your personal information (e.g., credit card or financial information) may be kept on file in order to facilitate automated renewals. You may
                    request that your credit card or financial information be deleted from our system and files at any point by contacting us.</li>
                <li>To create and administer your account, contact you, and customize your experience on our website or while using our products or services.</li>
                <li>To keep your account secure and protect our website, products, and services (including to prevent fraud and abuse).</li>
                <li>To restore your account or data where it was accidentally or maliciously deleted, corrupted, or otherwise damaged.</li>
                <li>To improve customer service by helping us to more effectively respond to your customer service requests and support needs.</li>
                <li>To help promote our website, products, and services.</li>
                <li>To send you periodic emails concerning order information, product or service information, company news, promotions, and legal information.</li>
                <li>To track and analyze use of our website, products, and services so we can improve them and provide you with the best experience possible.</li>
                <li>To meet regulatory requirements (e.g., tax laws).</li>
            </ul>
            <h2>European Union Users </h2>
            <p>Data protection law in Europe requires a “lawful basis” for collecting and retaining personal information from citizens or residents of the European Union. Our lawful bases include: </p>
            <ul>
                <li>Performing the contract we have with you: We need your personal information to comply with our contractual obligation to deliver you our products or services.</li>
                <li>Legal compliance: Sometimes the law says we need to collect and use your data. For example, tax laws require us to retain records of payments made for our products and services.</li>
                <li>Legitimate interests: This is a technical term in data protection law which essentially means we have a good and fair reason to use your data and we do so in ways which do not hurt your interests and rights. We sometimes require your data to pursue
                    our legitimate interests in a way that might reasonably be expected as part of running our business and that does not materially impact your rights, freedom, or interests. For example, we may use identity, device, and location information
                    to prevent fraud and abuse and to keep our website, products, and services secure. We may also send you promotional communications about our products or services, subject to your right to control whether we do so.</li>
                <li>We analyze how users interact with our website, products, and services so we can better understand which elements of the design are working well and which are not working so well. This allows us to develop and improve the quality of the online
                    experience we offer to all our users.</li>
            </ul>
            <h2>How Your Information Is Shared </h2>
            <p>We respect your privacy. We do not disclose, sell, trade, or otherwise transfer your personal information to third-parties without your prior consent, except as described below. </p>
            <h3>Information that is shared publicly </h3>
            <p>We will not publicly display or reveal to other users your personally identifiable information without your explicit consent, except as described in this Privacy Policy. </p>
            <p>When you register for a domain name, we are obligated to transmit certain personal contact information (e.g., your name, address, telephone number, and email address) to the applicable domain name registrar for publication in the publicly accessible
                WHOIS database. Domain name registrants are required to provide and maintain accurate contact information in the WHOIS database. Unfortunately, as the WHOIS database is publicly accessible, it is a target for data harvesting by persons or organizations
                engaged in spam, fraud, and identity theft. Consequently, we offer you a Privacy Protection service that will shield your personal information by making us your WHOIS trustee and by listing the contact information of our privacy team instead of
                your own in the WHOIS database. The Privacy Protection service is available with most domain types during registration or transfer orders, but you may opt out by unselecting the service during the order process. We highly recommend against opting
                out, but should you do so or should you register a domain type that does not support Privacy Protection, you accept that your personal contact information will be publicly disclosed in the WHOIS database. </p>
            <p>We may use certain personal information for promotional purposes (e.g., testimonials on our website). When submitting testimonials through our website or our social media pages you agree that your name, testimonial and website address may be used
                without additional consent. We will not publicly disclose any of your sensitive information, including your account information, payment information, or personal contact information, without your explicit consent. </p>
            <p>Non-personally identifiable visitor and user information may be provided to other parties for marketing, advertising, analytics, or similar purposes. </p>
            <h3>Information that is not shared publicly </h3>
            <p>The following data will not be publicly displayed or revealed to other users, except as described in this Privacy Policy: </p>
            <ul>
                <li>Your personal information, including your contact information, residency or membership status, and password details.</li>
                <li>Your payment information, including credit card details and transaction history.</li>
                <li>Your communication history information, including any communications you send to us (e.g., technical support tickets, questions, or feedback).</li>
                <li>Your sensitive personal information.</li>
            </ul>
            <h3>Information that is shared with trusted third-party services </h3>
            <p>We may share your information with certain trusted third-party services to help us provide, improve, promote, or protect our website, products, and services. When we share data with third-party services that support our delivery of our products and
                services, we require that they use your information only for the purposes we have authorized. We may also share information that is aggregated and anonymized in a way that it does not directly identify you. </p>
            <p>Our trusted third-party partners include: </p>
            <ul>
                <li>Datacenter and data hosting providers</li>
                <li>Domain name registrars and registries (e.g., Canadian Internet Registration Authority)</li>
                <li>Payment processors (e.g., PayPal)</li>
                <li>Server Software providers (e.g., cPanel)</li>
                <li>Customer support service providers</li>
                <li>Website builder and search engine optimization service providers (e.g., RankingCoach)</li>
                <li>SSL certificate and website protection service providers</li>
                <li>Email distribution and marketing service providers</li>
                <li>Analytics processors (e.g., Google Analytics)</li>
            </ul>
            <h3>Information that is shared to protect Desk Engine and comply with the law </h3>
            <p>We reserve the right to disclose personal information when we believe that doing so is reasonably necessary to comply with the law or law enforcement, to prevent fraud or abuse, or to protect the rights, property, or safety of Desk Engine, its employees,
                users, or others. </p>
            <h3>Links to other websites and services </h3>
            <p>Our website, products, or services may include links to other websites, products, or services (“External Websites”) whose privacy practices may differ from our own. When you use a link to an External Website, the privacy policy and data processing
                disclosures for that External Website govern. We assume no responsibility or liability for the interaction with and activities of an External Website. We seek to protect the integrity of our website, products, and services, and the safety of our
                users. We welcome any feedback that would help us do so, including feedback about External Websites. </p>
            <h2>Retention </h2>
            <p>We will retain your information as long as your account is active, as is necessary to provide you with our products or services, or as otherwise set forth in this Privacy Policy. </p>
            <p>We may retain archival copies of your information for up to 9 months after your data or account is flagged for deletion or otherwise becomes inactive. Archival copies may be used to restore your data or account in case the data or account is accidentally
                or maliciously deleted, corrupted, or otherwise damaged. If you wish your information to be deleted prior to the end of the above 9-month period, please contact our support team. </p>
            <p>We will also retain and use your information to the extent necessary to comply with our legal obligations, resolve disputes, enforce our agreements, and protect our legal rights. </p>
            <p>We also collect and maintain aggregated, anonymized, or pseudonymized information which we may retain indefinitely to protect the safety and security of our website, products, and services, improve them, or comply with legal obligations. </p>
            <h2>Data Transfers </h2>
            <p>Your personal information will be collected and stored in Canada, except as otherwise described in this Privacy Policy. However, we work with trusted third-party service providers (e.g., domain name registrars and registries) around the world to provide
                you with our products and services. Consequently, some of your personal information may be transferred to other countries for processing. We conform to industry standards to help ensure that your privacy is protected and that any transfers of
                personal information are safeguarded during transit and at the recipient processor. </p>
            <p>These third-party countries have their own laws governing data protection and government access to information. The rules that protect your personal information under these laws may be different than in your home country. </p>
            <p>If you choose to use our website, products, or services, you must agree to our Terms of Service, which set out the contract between Desk Engine and you. Further, you consent to having the necessary personal information transferred to trusted third-party
                service providers, located in Canada and other countries, for processing to provide you with the products and services for which you have contracted us. </p>
            <h2>Your Rights </h2>
            <p>Users residing in certain countries, including Canada and European Union member states, are afforded certain rights regarding their personal information. Except where an exception or exemption applies, these rights include your ability to access,
                correct, and request deletion of your personal information. While these rights are not applicable globally, all users of our products or services can manage and revise their personal information in the “Client Area” on our website or by contacting
                Customer Service. We may request that you provide us with personal information to verify your identity before we can disclose, change, or delete any personal information related to your account. </p>
            <p>To modify or delete the personal information you have provided to us, please log in to the “Client Area” and update your profile or contact Customer Service. </p>
            <p>To request an electronic copy of your personal information, please contact Customer Service. </p>
            <p>To delete your account, please contact Customer Service. We may retain certain information as required by law or as necessary for our legitimate business purposes. </p>
            <p>To opt out of having your personal information disclosed to third-parties for direct marketing purposes, please contact our support team. </p>
            <p>Residents of European Union member states have the right to restrict or object to the processing of their personal information under certain circumstances (e.g., to contest the accuracy of the data). They have the right to object to processing of
                their personal information for direct marketing purposes. To exercise any of these rights, please contact our support team. </p>
            <p>Residents of European Union member states have the right to lodge a complaint with a supervisory authority (e.g., privacy office) in the country where they live, where they work, or where an alleged infringement took place, if they consider that the
                processing of their personal information has infringed European Union privacy law. </p>
            <h2>Email Notifications </h2>
            <p>We may send you email regarding your order information, product or service information, company news, promotions, and legal information. </p>
            <p>We want to communicate with you only if you want to hear from us. We try to keep emails to a minimum and give you the ability to opt in to any marketing communications we send. You may opt out of receiving marketing email communications by following
                the detailed unsubscribe instructions located at the bottom of each email or by contacting Customer Service and requesting to opt out. </p>
            <p>From time to time, we may provide you with necessary information (e.g., service-related announcements or legal information) to which you will not be able to opt out. </p>
            <h2>Security </h2>
            <p>We take security seriously, and the security of your personal information is important to us. We employ a variety of security measures to maintain the safety of your personal information when you place an order with us or access your personal information.
                </p>
            <ul>
                <li>Your personal information is stored on secure servers or in secure file storage.</li>
                <li>All sensitive/credit information supplied via our website is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our database, only to be accessed by authorized personnel.</li>
            </ul>
            <p>No method of transmission over the internet or electronic storage is completely secure, so we cannot guarantee its absolute security. Your account information is protected by a password, which you should choose carefully and keep secure. If you disclose
                your password to a third-party, you may lose considerable control over your personal information and you may risk that legally binding actions be taken on your behalf. If the security of your password has been compromised, for whatever reason,
                you should change it immediately. </p>
            <p>We encourage the responsible disclosure of vulnerabilities of our website, products, or services by contacting our support team. </p>
            <h2>Children </h2>
            <p>You must be 13 years of age or older to register with us. We will not knowingly collect any personal information from children under the age of 13. However, if a child under the age of 13 provides us with personal information, upon written request
                by a parent or legal guardian, we will delete this information from our files. </p>
            <p>If you are under the age of 16, before you may order or use our products or services, your parent or legal guardian must provide written consent on your behalf to our <a href="https://www.Desk Engine.com/en/legal/terms-of-service" target="_blank">Terms of Service</a>,
                <a href="https://www.Desk Engine.com/en/legal/acceptable-use-policy" target="_blank">Acceptable Use Policy</a>, and this Privacy Policy. In particular, your parent or legal guardian must consent to your information being used for the purposes and
                for the manner described in this Privacy Policy. </p>
            <h2>Data Protection Team </h2>
            <p>If you have any questions regarding our privacy practices, you may contact us by email at <a href="mailto:contact@Desk Engine.com" target="_blank">contact@Desk Engine.com</a>, or by mail at: Desk Engine, Inc, 11605, boul. Rivière-des-Prairies, Montréal (Québec)
                Canada, H1C 1R1 </p>
            <h2>Changes to the Privacy Policy </h2>
            <p>We may revise this Privacy Policy from time to time to adapt it to our company, products and services, and legal requirements. We will notify you of any material changes either by displaying a notification on our website or by sending you an email.
                Any continued use of our website, products, or services after any changes are made to our Privacy Policy will mean that you accept the updated Privacy Policy. </p>
            <p>Effective: 20 September, 2018</p>
        </mat-tab>
        <mat-tab label="Terms of Services">
            ABOUT
        </mat-tab>
    </mat-tab-group>
</div>