<zm-page>
	<mat-tab-group mat-align-tabs="center">
		<mat-tab label="The Authors">
			<div class="zm-row zm-p-1">
				<div class="zm-col-sm-6">
					<mat-card>
						<mat-card-header>
							<mat-card-title>Danny Coulombe</mat-card-title>
							<mat-card-subtitle>Front-End Developer</mat-card-subtitle>
						</mat-card-header>
						<img mat-card-image src="assets/danny-coulombe.jpeg" alt="Danny Coulombe">
						<mat-card-content>
							<p>
								Danny Coulombe brings more than 10 years of experience in web, mobile and application
								development. He developed the Zemit Desk Engine and branding of Zemit.
							</p>
						</mat-card-content>
						<mat-card-actions>
							<a mat-button href="https://www.linkedin.com/in/dannycoulombe/" target="_blank">LinkedIn</a>
							<a mat-button href="https://www.dannycoulombe.com" target="_blank">Website</a>
						</mat-card-actions>
					</mat-card>
				</div>
				<div class="zm-col-sm-6 zm-mt-3 zm-mt-sm-0">
					<mat-card>
						<mat-card-header>
							<mat-card-title>Julien Turbide</mat-card-title>
							<mat-card-subtitle>Back-End Developer</mat-card-subtitle>
						</mat-card-header>
						<img mat-card-image src="assets/julien-turbide.jpeg" alt="Julien Turbide">
						<mat-card-content>
							<p>
								Managing the back-end, the cloud-maestro Julien Turbide brings another 10 years of
								experience in web and interactive development. He is the father of Zemit CMS and makes
								sure that everything is scalable.
							</p>
						</mat-card-content>
						<mat-card-actions>
							<a mat-button href="https://www.linkedin.com/in/jturbide/" target="_blank">LinkedIn</a>
							<a mat-button href="https://www.julienturbide.com" target="_blank">Website</a>
						</mat-card-actions>
					</mat-card>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="License">

			<p>
				<strong>BSD 3-Clause License</strong>
			</p>
			<p>Copyright (c) 2018, Danny Coulombe All rights reserved.</p>
			<p>Redistribution and use in source and binary forms, with or without modification, are permitted provided
				that the following conditions are met:</p>
			<p>* Redistributions of source code must retain the above copyright notice, this list of conditions and the
				following disclaimer.</p>
			<p>* Redistributions in binary form must reproduce the above copyright notice, this list of conditions and
				the following disclaimer in the documentation and/or other materials provided with the distribution.</p>
			<p>* Neither the name of the copyright holder nor the names of its contributors may be used to endorse or
				promote products derived from this software without specific prior written permission.</p>
			<p>THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS &quot;AS IS&quot; AND ANY EXPRESS OR
				IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
				FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
				LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
				BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
				BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
				LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
				SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</p>
		</mat-tab>
		<mat-tab label="Thanks">

			<h4>Images</h4>
			<a target="_blank" href="https://www.freepik.com/free-vector/snowy-mountains-illustration_765737.htm">Snowy
				mountains illustration</a>
		</mat-tab>
	</mat-tab-group>
</zm-page>
