<de-page>
    <h1>About Desk Engine</h1>
    
    <mat-tab-group>
        <mat-tab label="About Desk Engine">
            TBD
        </mat-tab>
        <mat-tab label="The Authors">
            <div class="zm-row">
                <div class="zm-col-sm-6">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Danny Coulombe</mat-card-title>
                            <mat-card-subtitle>Front-End Developer</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="assets/danny-coulombe.jpeg" alt="Danny Coulombe">
                        <mat-card-content>
                        <p>
                            Danny Coulombe brings more than 10 years of experience in web, mobile and application development. He developed the Zemit Desk Engine and branding of Zemit.
                        </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <a mat-button href="https://www.linkedin.com/in/dannycoulombe/" target="_blank">LinkedIn</a>
                            <a mat-button href="https://www.dannycoulombe.com" target="_blank">Website</a>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="zm-col-sm-6 zm-mt-3 zm-mt-sm-0">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Julien Turbide</mat-card-title>
                            <mat-card-subtitle>Back-End Developer</mat-card-subtitle>
                        </mat-card-header>
                            <img mat-card-image src="assets/julien-turbide.jpeg" alt="Julien Turbide">
                        <mat-card-content>
                        <p>
                            Managing the back-end, the cloud-maestro Julien Turbide brings another 10 years of experience in web and interactive development. He is the father of Zemit CMS and makes sure that everything is scalable.
                        </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <a mat-button href="https://www.linkedin.com/in/jturbide/" target="_blank">LinkedIn</a>
                            <a mat-button href="https://www.julienturbide.com" target="_blank">Website</a>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
            
            <p></p>
        </mat-tab>
        <mat-tab label="Privacy Policy">
            TBD
        </mat-tab>
        <mat-tab label="Terms of Services">
            TBD
        </mat-tab>
        <mat-tab label="Licenses">
            
            <a href="https://www.freepik.com/free-vector/snowy-mountains-illustration_765737.htm">Designed by Freepik</a>
        </mat-tab>
    </mat-tab-group>
</de-page>