<div fxLayout="column" fxFlexFill>
    
    <we-toolbar></we-toolbar>
    
    <div class="main-container" fxLayout="row" fxFlex>
        <mat-drawer-container autosize fxFlex>
            <mat-drawer-content fxLayout="column">
                <!--<mat-progress-bar mode="query"></mat-progress-bar>-->
                <main fxFlex>
                    <router-outlet></router-outlet>
                </main>
            </mat-drawer-content>
            <mat-drawer #drawer class="sidenav-content" mode="side" position="end">
                <we-sidebar-content></we-sidebar-content>
            </mat-drawer>
        </mat-drawer-container>
        
        <div class="sidenav-items">
            <we-sidebar-toggler fxFlex [drawer]="drawer"></we-sidebar-toggler>
        </div>
    </div>
</div>