:host {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
:host .bg-move-content {
    content: " ";
    left: -50%;
    top: -50%;
    position: absolute;
    width: 200%;
    height: 200%;
    background: url(src/assets/logo-light.png);
    background-size: 10vmax;
    pointer-events: none;
    opacity: 0.05;
    transform: rotateZ(8deg);
    animation: deBgMove 4.75s infinite linear;
}

@keyframes deBgMove {
  0% {
	  transform: rotateZ(8deg) translateX(10vmax);
  }
  100% {
	  transform: rotateZ(8deg) translateX(0vmax);
  }
}