<zm-bg-move></zm-bg-move>

<div fxLayoutAlign="center center" fxFlex fxLayout="column" class="mat-typography">
	<div class="content">
		<img src="assets/logo-light.png" />
		<br /><br /><h1>Workspace Engine</h1>
		<hr />
		
		<a mat-button href="https://github.com/zemit-official/workspace/wiki" target="_blank">
			<mat-icon>school</mat-icon>
			<span>Get started</span>
		</a>
		
		<a mat-button href="https://github.com/zemit-official/workspace/issues" target="_blank">
			<mat-icon>bug_report</mat-icon>
			<span>Report an issue</span>
		</a>
		
		<a mat-button href="https://blog.zemit.com" target="_blank">
			<mat-icon>assignment</mat-icon>
			<span>Read our blog</span>
		</a>
	</div>
</div>
