<de-bg-move></de-bg-move>

<div fxLayoutAlign="center center" fxFlex fxLayout="column" class="mat-typography">
	<div class="content">
		<img src="assets/logo-light.png" />
		<br /><br /><h1>Welcome to Desk Engine</h1>
		<hr />
		
		<a mat-button href="https://github.com/zemit-official/layout-engine/wiki" target="_blank">
			<mat-icon>school</mat-icon>
			Get started
		</a>
		
		<a mat-button href="https://github.com/zemit-official/layout-engine/issues" target="_blank">
			<mat-icon>bug_report</mat-icon>
			Report an issue
		</a>
		
		<a mat-button href="https://blog.zemit.com" target="_blank">
			<mat-icon>assignment</mat-icon>
			Read our blog
		</a>
	</div>
</div>