<mat-toolbar fxFlex="none">
    <mat-toolbar-row>
        
        <button mat-button matTooltip="{{ !menu.opened ? 'Open main menu' : 'Close main menu' }}" (click)="menu.toggle()">
            <mat-icon *ngIf="!menu.opened">menu</mat-icon>
            <mat-icon *ngIf="menu.opened">close</mat-icon>
        </button>
        
        <mat-divider vertical></mat-divider>
        
        <we-context-toggler></we-context-toggler>
        
        <button mat-button matTooltip="Undo change" [disabled]=!settings.isConnected>
            <mat-icon>undo</mat-icon>
        </button>
        
        <button mat-button matTooltip="Redo change" [disabled]=!settings.isConnected>
            <mat-icon>redo</mat-icon>
        </button>
        
        <span class="toolbar-spacer"></span>
        
        <we-profile-toolbar-button></we-profile-toolbar-button>
        
        <mat-divider vertical></mat-divider>
        
        <we-docs></we-docs>
        <we-settings></we-settings>
    </mat-toolbar-row>
</mat-toolbar>