<mat-toolbar fxFlex="none">
    <mat-toolbar-row>
        
        <button mat-button [disabled]=true matTooltip="Go back to home page" routerLink="/">
            <mat-icon>home</mat-icon>
        </button>
        
        <mat-divider vertical></mat-divider>
        
        <we-context-toggler></we-context-toggler>
        
        <button mat-button matTooltip="Undo change" [disabled]=!settings.isConnected>
            <mat-icon>undo</mat-icon>
        </button>
        
        <button mat-button matTooltip="Redo change" [disabled]=!settings.isConnected>
            <mat-icon>redo</mat-icon>
        </button>
        
        <!--<span>{{ settings.isConnected }}</span>-->
        
        <span class="toolbar-spacer"></span>
        
        <we-profile-toolbar-button></we-profile-toolbar-button>
        
        <mat-divider vertical></mat-divider>
        
        <we-docs></we-docs>
        <we-settings></we-settings>
    </mat-toolbar-row>
</mat-toolbar>