/deep/ .sidenav-content {
	padding: 0.5rem;
}

.sidebar-content-container {
	width: 25rem;
	max-width: 25rem;
}

/deep/ .sidebar-content-container > * {
	height: 100%;
}

/deep/ .mat-accordion {
	background-color: #f6f6f6;
	display: block;
	padding: 1rem;
	min-height: 100%;
	box-sizing: border-box;
}
