/* You can add global styles to this file, and also import other style files */
// $material-icons-font-path: '~material-icons/iconfont/';
// @import '~material-icons/iconfont/material-icons.scss';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/indigo-pink";
@import 'sizing';
@import 'variables';

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

* {
    user-select: none;
}

.active-route {
  opacity: 0.5;
  pointer-events: none;
}

.mat-typography {
  font-size: 1rem;
  line-height: 1.5rem;
}

.mat-raised-button.mat-primary {
  background-color: $matPrimaryBgColor !important;
  color: $matPrimaryTextColor !important;
}

.mat-raised-button.mat-secondary {
  background-color: $colorSuccessBg;
  color: $colorSuccessText;
}

.mat-button-wrapper > .mat-icon + * {
  margin-left: 0.5rem;
}