$logoUrl: "src/assets/logo.png";
$logoLightUrl: "src/assets/logo-light.png";
$logoLightBgUrl: "src/assets/logo-light-bg.png";

// https://coolors.co/001011-093a3e-64e9ee-0cbda0-97c8eb

$matPrimaryBgColor: #01BAEF;
$matPrimaryTextColor: white;

$dePrimaryBgColor: #97C8EB;
$dePrimaryTextColor: white;

$deSecondaryBgColor: #093A3E;
$deSecondaryTextColor: white;

$colorSuccessBg: #0CBDA0;
$colorSuccessText: white;